.footer{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 40px;
    h2{
        color: #ffffff;
        font-family: 'Poppins', sans-serif;   
        font-size: 14px;
    }
}